@font-face {
    font-family: Rufina;
    src:  url('fonts/rufina.eot?'), local('@'), url('fonts/rufina.ttf') format('truetype');
}
@font-face {
    font-family: Rufina;
    src:  url('fonts/rufina_bold.eot?'), local('@'), url('fonts/rufina_bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: TWCent;
    src:  url('fonts/twcent_normal.eot?'), local('@'), url('fonts/twcent_normal.ttf') format('truetype');
}
@font-face {
    font-family: TwCent;
    src:  url('fonts/twcent_bold.eot?'), local('@'), url('fonts/twcent_bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Mouse;
    src:  url('fonts/mouse.eot?'), local('@'), url('fonts/mouse.ttf') format('truetype');
}
@font-face {
    font-family: League;
    src:  url('fonts/league.eot?'), local('@'), url('fonts/league.ttf') format('truetype');
}

body{
    font-family: TWCent!important;
    font-size: 15px!important;
    color: #353535;
    background-image: url("../imagenes/estilo/navbar.jpg");
    background-position: left;
    background-repeat: repeat-y;
    background-color: #efefef;
}
#header{
    height: 51px;
    background-image: url("../imagenes/estilo/bg_barra_superior.jpg");
    background-repeat: repeat-x;
}
.wrap{
    overflow: hidden;
}
#header .isotipo{
    height: 31px;
    width: 298px;
    background-image: url("../imagenes/estilo/logo_isotipo.jpg");
    background-repeat: no-repeat;
    float: left;
    margin: 5px 0 0 10px;
}
#header .logo{
    width: 139px;
    height: 36px;
    background-image: url("../imagenes/estilo/logo.jpg");
    background-repeat: no-repeat;
    float: left;
    margin: 3px 15px 0 20px;
}
#user_tab{
    height: 31px;
    min-width: 100px;
    color: gray;
    float: right;
    margin: 10px 25px 10px 0;
    display: inline-block;
}
#user_tab .tab_center{
    min-width: 80px;
    height: 31px;
    float: left;
    
}
#user_tab .nombre_usuario{
    display: inline-block;
    padding: 0 5px 0 5px;
    color: #ffffff;
}
#user_tab .separador{
    height: 31px;
    width: 12px;
    background-image: url("../imagenes/estilo/separador.jpg");
    display: inline-block;
    margin: 0 5px 0 5px;
}
#user_tab .btn_despligue{
    display: inline-block;
    padding: 0 5px 0 5px;
    color: #ec297b;
}
#user_tab .btn_despligue:hover{
    cursor: pointer;
}

#user_tab .mini_avatar img{
    width: 20px;
    height: 20px;
}
#user_tab .mini_avatar{
    display: inline-block;
    padding: 0 5px 0 5px;
}
#navbar{
    width: 220px;
    color: #d9d9d9;
    font-family: League;
    font-size: 19px;
    float: left;
}
#navbar a{
    display: block;
    height: 27px;
    padding: 9px 0 0 20px;
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar li{
    background-image: url("../imagenes/estilo/navbar_tab.png");
    background-repeat: repeat-x;
}
.navbar_activa{
    background-image: url("../imagenes/estilo/navbar_tab_activa.png")!important;
    background-repeat: no-repeat;
    background-position: right;
}
#navbar ul li i{
    width: 17px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.ico_usuarios{
    background-image: url("../imagenes/estilo/ico_usuarios.png");
}
.ico_articulos{
    background-image: url("../imagenes/estilo/ico_articulos.png");
}
.ico_directorio{
    background-image: url("../imagenes/estilo/ico_directorio.png");
}
.ico_lugares{
    background-image: url("../imagenes/estilo/ico_lugares.png");
}
.ico_publicidad{
    background-image: url("../imagenes/estilo/ico_publicidad.png");
}
#navbar a {
    color: inherit!important;
    text-decoration: none!important;
}
#navbar a:hover {
    color: #b3b3b3!important;
}
#navbar a:link{
    color: inherit!important;
    text-decoration: none!important;
}

/*Estilo del Contenedor principal*/
#contenedor{
    padding: 10px;
    margin: 0 0 0 220px;
}
#contenedor h1{
    font-family: League;
    font-size: 35px;
}
#contenedor .agregar_registro{
    margin: 10px 0 10px 0;
    text-align: right;
}
.columnas{
    width: 50%;
    float: left;
    overflow: hidden;
}
.clear{
    height: 1px;
    clear: both;
}
.caracteres{
    width: 95%;
    text-align: right;
    color: #353535;
}
.caracteres_ok{
    color: #468847;
    font-weight: bold;
}
.caracteres_nok{
    color: red;
    font-weight: bold;
}
.publicar{
    margin: 10px 0 10px 0;
    text-align: center;
}
.paginado{
    margin: 10px 0 10px 0;
    text-align: center;
}
.paginado li{
    display: inline-block;
}
.progreso, .progreso2{
    height: 22px;
    display: none;
    background-image: url("../imagenes/estilo/progressbar.gif");
}
.imagen_resultado{
    display: none;
    background-color: #f8f8f8;
    margin: 20px;
    padding: 20px;
    border: #f0f0f0 dashed 1px;
    border-radius: 5px;
    text-align: center;
}
.imagen_resultado img{
    margin: 5px auto 5px auto;
}
.imagen_resultado span, .imagen_resultado2 span{
    padding: 5px 10px 5px 10px;
    background-color: #E6E6E6;
    border-radius: 5px;
}
.hidden{
    display: none;
}
.imagen_user{
    height: 30px;
}

/* Widgets */
.widget-box {
    background: #ffffff;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
.widget-title, .table th, div.dataTables_wrapper .ui-widget-header {
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title span.icon {
    border-right: 1px solid #cdcdcd;
    padding: 9px 10px 7px 11px;
    float: left;
    opacity: .7;
}
.widget-title h5 {
    color: #666666;
    text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-content {
    border-bottom: 1px solid #cdcdcd;
    padding: 12px 15px;
}
.table th {
    height: auto;
    padding: 5px 10px 2px;
    border-bottom: 0;
    text-align: center;
    color: #666666;
}
.nopadding {	
    padding: 0 !important;
}
.control-group {
    overflow: hidden;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0;
    padding: 8px 0 8px 0;
}
.control-group-end {
    overflow: hidden;
    margin-bottom: 0;
    padding: 8px 0 0 0;
}
.centrado{
    text-align: center;
}
.nicEdit-main a{
    color: blueviolet;
    text-decoration: underline;
}

@media all and (max-width: 1088px){
    body{
        background-image: none;
    }
    #navbar{
        float: none;
        width: auto;
        background-color: rgb(53,53,53);
    }
    #navbar a{
        text-align: center;
    }
    .navbar_activa{
        background-image: none!important;
        background-color: rgb(214,42,118);
    }
    
    #contenedor{
        margin: 0;
    }
}

@media all and (max-width: 481px){
    #user_tab{
        display: none;
    }
    #header .logo{
        float: none;
        margin: 0 auto 0 auto;
    }
}